#imgUs{
  border-radius: 100%;
  height: 220px;
  width: 200px;
}

#icons{
  height: 70px;
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

input[type="contact"]{
  background: #001642; border:1 ; cursor: pointer; color: #fff; width: 150px;
    position:relative;
    left: 23%;
}
input[type="contact"]:hover{
background: #3377ff; transition: .3s;
}
